In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20231001", periods=6)
dates

DatetimeIndex(['2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04',
               '2023-10-05', '2023-10-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates , columns=list("ABCD"))
df

                   A         B         C         D
2023-10-01  0.207413 -2.101987  1.006265 -1.090691
2023-10-02 -0.255936 -1.031933  0.039744 -1.377660
2023-10-03  1.778945  0.168613 -2.700352  1.902839
2023-10-04 -0.942796 -0.449447 -0.225248  0.567917
2023-10-05 -0.048148  2.339619 -0.765910  0.022558
2023-10-06  0.731659  1.632446  2.187168  0.786390

In [7]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [8]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [11]:
 # noqa: E225, E999                
df2.bool
df2.abs   
df2.boxplot
df2.add   
df2.add_prefix
df2.clip
df2.add_suffix  
df2.align     
df2.copy
df2.all  
df2.count
df2.any  
df2.combine
df2.apply  
df2.describe
df2.applymap 
df2.diff
df2.duplicated

<bound method DataFrame.duplicated of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [12]:
df["A"]

2023-10-01    0.207413
2023-10-02   -0.255936
2023-10-03    1.778945
2023-10-04   -0.942796
2023-10-05   -0.048148
2023-10-06    0.731659
Freq: D, Name: A, dtype: float64

In [13]:
df[0:3]

                   A         B         C         D
2023-10-01  0.207413 -2.101987  1.006265 -1.090691
2023-10-02 -0.255936 -1.031933  0.039744 -1.377660
2023-10-03  1.778945  0.168613 -2.700352  1.902839